extends layout

block content
	h1 Login
	form(name="login" action="/apis/login" method="post")
		div(style="width:20%")
			table
				tr
					td(style="padding-top:1.5em; padding-right:1.5em")
						label Username
					td(style="padding-top:1.5em; padding-right:1.5em")
						input(type="text" name="user")
				tr
					td(style="padding-top:1.5em; padding-right:1.5em")
						label Password
					td(style="padding-top:1.5em; padding-right:1.5em")
						input(type="password" name="pwd")
			p
				input(style="float:right" type="submit" value="Login")
